body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.heading {
  text-transform: uppercase;
  font-weight: bold;
}

.timer-container {
  text-align: center;
  margin-top: 20px;
}

#timer {
  font-size: 48px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 5px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #000;
}
